.container {
  width: 80vw;
  background-color: #f3f3f3;
  display: flex;
  border-radius: 18px;
  padding: 5px 10px;
  margin-bottom: 30px;
}
.input {
  font-weight: 700;
  border: none;
  width: 100%;
  padding: 10px 5px;
  background-color: transparent;
  transition: filter 350ms ease-in-out;
}
.submit {
  border: none;
  background-color: transparent;
  z-index: 1000;
  cursor: pointer;
}
.input:focus {
  border: none;
  outline: none;
}
.container:focus-within {
  outline: 1px solid #a445ed88;
  filter: drop-shadow(0px 0px 2px #a445ed);
}
