@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 130%;
  transition: background-color, color 350ms;
  background-color: #fff;
  color: #000;
}

@media (prefers-color-scheme: dark) {
  .darkTheme {
    background-color: #141414;
    color: #fff;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
